.price {
  font-size: 24px;
  font-weight: 700;
  display: block;
}
.balance {
  font-size: 18px;
  font-weight: 400;
}

.topic {
  font-size: 16px;
  font-weight: 600;
  padding-left: 15px;
  margin-bottom: 10px;
}
