.container {
  margin: 5% 15%;
  .login_head {
    color: #767778;
  }
}

.form {
  margin: auto;
  .labels {
    color: #9eead1;
    font-size: 16px;
    font-weight: 400;
  }
  .input {
    border-bottom: 1px solid #9eead1;
  }
  .Button {
    border-radius: 5px;
  }
}
