.root {
  background: #5dddb2;
  width: 100vw;
  height: 100vh;
  .container {
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;

    font-weight: 700;
    color: #ffffff;
    .larry {
      position: absolute;
      top: 48%;
      width: fit-content;
      text-align: center;
      font-size: 32px;
      margin-right: 60px;
    }
    .icon {
      position: absolute;
      top: 48%;
      width: fit-content;
      text-align: center;
      font-size: 60px;
      margin-left: 100px;
    }
    .and {
      position: absolute;
      top: 53%;
      width: fit-content;
      text-align: center;
      font-size: 32px;
    }
    .comrade {
      position: absolute;
      top: 57%;
      width: fit-content;
      text-align: center;
      font-size: 32px;
      margin-left: 50px;
    }
    .logistics {
      position: absolute;
      top: 63%;
      width: fit-content;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      margin-left: 150px;
    }
  }
}
